.swiper-button-prev {
    width: 40px;
    height: 190px;
    background: url(../img/ui/left_btn.png) no-repeat;
    background-size: contain;
}
.swiper-button-next {
    width: 40px;
    height: 190px;
    background: url(../img/ui/right_btn.png) no-repeat;
    background-size: contain;
}


